body {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	/*background-image: url(Imagens/code.jpg);
	background-size: cover;*/
	background-color: #f0e5d8;
	color: #75cfb8;
	text-shadow: 1px 1px 2px black;
}


h1{
	
	font-family: Indie Flower;
	font-size: 52px;
	padding-top: 2%;
	text-shadow: 2px 2px 5px black;
	margin-bottom: 15px;
}

p {
	font-family: Arial;
	font-size: 25px;
}

.contact {
	text-decoration: none;
	background-color: rgb(204,0,0);
	color: white;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
}

.contact:hover{
	color: black;
	background-color: rgba(204,0,0, 0.7);
}

.lista {
	list-style: none;
	padding-left: 0px;
	margin-top: 150px;
}


.lista li {
	display: inline;
}

.lista a {
	color:black;
	font-size: 25px;
}


.foto {
	border-radius: 50%;
}